$color: #D88C9A
  
.article
  padding: 150px 50px 50px 50px

  .content-wrapper
    padding: 0 80px

  &__float-tip
    position: fixed
    left: 0
    top: 150px
    width: 100%
    z-index: 0
    opacity: 0
    pointer-events: none
    transition: opacity .2s
    will-change: opacity
    
    .inner-wrapper
      width: 78%
      margin: 0 auto
      height: 100%

    &__content
      width: 200px
  
      &__top
        padding: 20px 0
        border-top: 1px solid #eee
        border-bottom: 1px solid #eee
        &__title
          font-weight: 600
          font-size: 1.1em

        &__author
          font-size: .75em
          color: lightgray
          margin-top: 5px

        &__tags
          margin-top: 30px
          display: flex
          flex-wrap: wrap
          gap: 5px

          .label-tag
            font-size: .625em
            color: black
            padding: 5px 8px
            background: #eee
      &__btm
        display: flex
        justify-content: space-between
        padding: 20px 50px 20px 0

        .action
          transition: color .2s
          cursor: pointer

          &:hover
            color: $color

        .action--cheers
          display: flex
          &__counter
            margin-left: 10px
            
  &__info
    padding: 40px 0
    &__title
      font-size: 2.3em
      font-weight: 600

    &__subtitle
      color: #cdcdcd
      font-size: 1.5em
  
  &__author
    display: flex
    justify-content: space-between
    align-items: center
    font-size: .75em

    &__name-group
      display: flex
      align-items: center
      &__avatar
        width: 40px
        height: 40px
        border-radius: 250px
        position: relative
        overflow: hidden
      &__rhs
        padding-left: 16px
        display: flex
        flex-direction: column
        row-gap: 3px
        &__name
          font-weight: 700

    &__action-group
      display: flex
      width: 80px
      justify-content: space-between

      .box
        font-size: 1.5em
        transition: color .2s
        cursor: pointer

        &:hover
          color: $color
      
  &__body
    font-size: 1.25em
    line-height: 1.6
    padding: 42px 0
    width: 100%
    overflow: hidden

  &__ending
    padding: 30px 0
    color: #cdcdcd
    text-align: center
    border-bottom: 1px solid #eee
    font-size: .85em
    font-style: italic

  &__read-more
    padding-top: 80px
    &__heading
      font-size: 2em
      font-weight: 800

    &__articles-list
      padding: 40px 0

      .item
        display: flex
        padding-bottom: 40px
        
        &__thumbnail
          height: 160px
          width: 200px
          background: #eee
        &__details
          padding-left: 40px
          width: calc(100% - 200px)
          &__title
            font-size: 1.75em
            font-weight: 600
            padding-bottom: 20px
        