
$terms-inset-border: 1px solid #30363d

.article
  padding: 150px calc(20% + 50px) 50px
  position: relative

  .content-wrapper
    padding: 0 80px

  &__float-tip
    position: fixed
    left: 0
    top: 150px
    width: 100%
    z-index: 0
    pointer-events: none
    
    .inner-wrapper
      width: 78%
      margin: 0 auto
      height: 100%

    &__content
      width: 200px
      opacity: 0
      transition: opacity .2s
      will-change: opacity
      pointer-events: none
  
      &__top
        padding: 20px 3px
        border-top: 1px solid #666
        border-bottom: 1px solid #666
        &__title
          font-weight: 600
          font-size: 1.1em

        &__author
          font-size: .75em
          color: lightgray
          margin-top: 5px

        &__tags
          margin-top: 30px
          display: flex
          flex-wrap: wrap
          gap: 5px

          a
            font-size: .625em
            color: white
            padding: 5px 8px
            background: var(--color1)
      &__btm
        display: flex
        justify-content: space-between
        padding: 20px 50px 20px 0

        .action--cheers
          display: flex
          &__counter
            margin-left: 10px
            
  &__info
    padding: 40px 0
    &__title
      font-size: 2.3em
      font-weight: 600

    &__subtitle
      color: #cdcdcd
      font-size: 1.5em
  
  &__author
    display: flex
    justify-content: space-between
    align-items: center

    &__name-group
      display: flex
      align-items: center
      &__avatar
        width: 50px
        height: 50px
        border-radius: 250px
        position: relative
        overflow: hidden
      &__rhs
        padding-left: 16px
        display: flex
        flex-direction: column
        row-gap: 3px
        &__name
          display: flex
          align-items: center

          & > *
            display: block

          a
            background: var(--color1)
            border: 1px solid var(--color1)
            border-radius: 4px
            padding: 2px 10px
            margin-left: 10px
            font-size: 12px
        
        &__date
          color: #ccc

    &__action-group
      display: flex
      width: 230px
      justify-content: space-between
      align-items: center

      .vr
        width: 1px
        background: #888
        margin: 0 10px
        height: 20px
      
  &__body
    font-size: 1.25em
    line-height: 1.6
    padding: 42px 0
    width: 100%

  &__ending
    padding: 30px 0

    &__actions
      display: flex
      justify-content: space-between
      margin-bottom: 50px
      &__left
        display: flex
        align-items: center
        gap: 10px
      &__right
        display: flex
        align-items: center
        gap: 30px
    &__tags
      display: flex
      gap: 10px
      a
        color: white
        display: block
        padding: 4px 10px
        background: var(--color1)

    &__author
      &__avatar
        width: 80px
        height: 80px
        border-radius: 250px
        position: relative
        overflow: hidden

      &__name
        font-weight: 800
        margin-top: 12px

      &__followers
        margin-top: 8px
        font-size: 1.15em

      &__tagline
        margin-top: 12px
        font-weight: 600

      &__description
        @apply text-gray-500

      &__actions
        display: flex
        margin-top: 20px
        justify-content: space-between
        &__left
          display: flex
          align-items: center
          .follow-btn
            padding: 8px 16px
            line-height: 1.2
          .mail-btn
            margin-left: 10px

          .follow-btn,
          .mail-btn
            background: var(--color1)
            border-radius: 999px
            cursor: pointer
            transition: background .2s
            &:hover
              background: #4F46E5
        &__right
          display: flex
          gap: 10px

          div
            height: 34px
            width: 34px
            display: grid
            place-items: center

          a
            transition: color .2s
            color: #a8a8a8
            &:hover
              color: #fff

    &__dates
      font-size: .85em
      text-align: center
      margin: 20px 0
      @apply text-gray-600

    &__subscription
      color: white
      border-top: 4px solid var(--color1)
      padding: 40px
      background: #161b22
      margin-bottom: 100px
      border-radius: 0 0 2px 2px

      h1
        font-size: 2em
        font-weight: 600

      &__author
        font-size: .8em
        span
          text-transform: uppercase
          
      &__pitch
        margin-top: 30px
      
      &__email
        display: flex
        margin: 20px 0
        align-items: center
        .input-wrapper
          flex-grow: 1
          padding-right: 30px
          input
            padding: 3px 0
            background: transparent
            border-bottom: 1px solid #ccc
            width: 100%
            outline: none
            &:hover
              border-bottom-color: #fff
            &:active, &:focus
              border-bottom-color: var(--color1)

        .btn-wrapper
          background: var(--color1)
          padding: 0 10px
          border-radius: 999px
          transition: background .2s
          overflow: hidden
          cursor: not-allowed
          &:hover
            background: #4F46E5
          button    
            display: flex
            align-items: center
            padding-right: 8px
            cursor: not-allowed
      &__terms
        font-size: 12px


@media screen and (max-width: 1536px)
  .article
    &__info__title
      font-size: 2em
    &__info__subtitle
      font-size: 1.4em
    &__body
      font-size: 1.1em

@media screen and (max-width: 1200px)
  .article
    padding-left: 5%
    padding-right: 5%
    &__float-tip
      display: none

@media screen and (max-width: 768px)
  .article
    .content-wrapper
      padding: 0

    &__author
      flex-direction: column
      &__action-group
        margin-top: 20px

    &__ending
      &__subscription
        padding: 20px
        h1
          font-size: 24px

        &__email
          flex-direction: column
          gap: 20px

          .input-wrapper
            padding-right: 0
      &__author
        &__actions
          flex-direction: column
          gap: 20px
