.home
  position: relative
  //overflow: hidden

  &__banner
    height: 500px
    justify-content: center
    position: relative
    overflow: hidden
    background: url(/mountain.jpg)
    background-size: cover
    background-position: bottom
    background-repeat: no-repeat
    padding: 100px 20% 0
    border-bottom: medium double #ccc

    &__label
      font-size: 36px
      font-weight: 800
      width: 800px
      line-height: 80px

    &__para
      width: 500px
      line-height: 1.625

    &__button
      margin-top: 60px
      font-size: 20px
      button
        display: block
        padding: 7px 20px 9px
        color: black
        background: #fff
        border-radius: 999px
        line-height: 24px
        width: 230px
        text-align: center

        &:hover
          background: rgba(255, 255, 255, 0.95)

  &__trending
    display: flex
    justify-content: center
    padding: 56px 0

    .wrap
      max-width: 1192px
      margin: 0 64px

    &__label
      display: flex
      align-items: center
      margin-bottom: 16px
      div
        margin-left: 10px
        text-transform: uppercase
        font-size: 12px
        font-weight: 800

    &__content
      display: grid
      grid-template-rows: 1fr 1fr
      grid-template-columns: repeat(3, 1fr)
      gap: 30px

  &__feeds
    padding: 56px 0
    display: flex
    justify-content: center
    border-top: 1px solid #333
    .wrap
      max-width: 1192px
      margin: 0 64px
      display: grid
      grid-template-columns: repeat(8, 1fr) repeat(4, minmax(48px, 1fr))
      grid-template-rows: 1fr

    main
      grid-row-start: 1
      grid-column: 1 / span 7

    aside
      grid-row-start: 1
      grid-column: 9 / span 4

  &__posts
    display: flex
    justify-content: center
    padding: 56px 0
    .wrap
      max-width: 1192px
      margin: 0 64px
      display: flex
      flex-wrap: wrap
      column-gap: 10px
      row-gap: 50px


@media screen and (max-width: 1400px)
  .home
    &__posts
      .wrap
        flex-direction: column
        align-items: center


@media screen and (max-width: 1200px)
  .home
    &__banner
      height: 400px
      &__label
        font-size: 1.8em
        line-height: 1.25
      &__para
        font-size: 0.95em

    &__author
      padding: 100px 0
    &__illustration
      &__image
        height: 300px

@media screen and (max-width: 1024px)
  .home
    &__disclaimer
      padding-left: 5%
      padding-right: 5%

@media screen and (max-width: 850px)
  .home
    &__banner
      height: 70vh
      &__label
        font-size: 1.3em
      &__para
        font-size: 0.8em
        width: 300px
        margin-top: 5px
      &__animation
        display: none

    &__author
      &__label
        font-size: 1.3em

@media screen and (max-width: 768px)
  .home
    &__posts
      padding-left: 10%
      padding-right: 10%
      
@media screen and (max-width: 500px)
  .home
    &__author
      &__card
        position: relative
        width: 400px
        font-size: 0.85em
        overflow: visible
        &__avatar
          width: 140px
          height: 160px
          #avatar
            height: 140px
        &__details
          
          
          &__social
            position: absolute
            left: 50%
            bottom: -70px
            width: 200px
            transform: translateX(-50%)

    &__disclaimer
      .wrap-wrap
        .wrap
          flex-direction: column
      &__label
        margin-bottom: 10px

    &__posts
      padding-left: 5px
      padding-right: 5px