.home
  position: relative

  &__banner
    border: 1px soild black
    height: 100vh
    justify-content: center
    display: flex
    align-items: center
    position: relative
    overflow: hidden
    background: url(/wooden-background.jpg)
    background-size: cover
    background-position: center
    background-repeat: no-repeat

    &__label
      font-size: 2em
      text-align: center
      width: 800px
      letter-spacing: 2px
      line-height: 80px

    &__para
      width: 500px
      margin: 0 auto
      // font-size: 1.5em
      line-height: 1.625
      text-align: center

      #wrte
        // color: brown
        font-weight: 800

      #avai
        // color: brown
        font-weight: 800
        position: relative
        &::before
          content: ''
          position: absolute
          left: 0
          right: 0
          bottom: -3px
          height: 3px
          background: brown
      
    &__animation
      position: absolute
      bottom: 0
      left: 50%
      transform: translateX(-50%)
      height: 45px
      width: 5px
      background: rgba(255,255,255,.2)

      #animated-rect
        height: 100%
        width: 100%
        background: white
        transform: translateY(100%)
        opacity: 0
        animation: f 1s linear 2s infinite



  &__author
    display: flex
    justify-content: center
    padding: 100px 0
    &__card
      display: flex
      width: 650px
      border: 1px solid #black
      border-radius: 10px
      box-shadow: 1px 1px 5px  black
      overflow: hidden
      background: palevioletred


      &__avatar
        height: 200px
        width: 180px
        background: #eee
        display: grid
        place-items: center

        img
          display: block

      &__details
        width: calc(100% - 180px)
        padding: 20px 

        &__social
          display: flex
          font-size: 2em
          justify-content: space-around
      

  &__posts
    padding: 100px 20%
    .wrap
      display: flex
      flex-wrap: wrap
      column-gap: 10px
      row-gap: 50px
    
@keyframes f 
  0% 
    transform: translateY(100%)
    opacity: 0
  
  45% 
    opacity: 1
  
  100% 
    transform: translateY(0)
    opacity: 0
  