@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");

:root {
  --padding: 0 20%;

  --color1: #6c63ff;
  /* --color1: #31263e; */
  --color2: #44355b;
  --color3: #221e22;

  --caveat: "Caveat", cursive;
}

.layout {
  /* background-color: #361d12; */
  background-color: #0d1117;
  position: relative;
}

header {
  height: 100px;
  /* background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px); */
  background: transparent;
  padding: var(--padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}

.logo {
  font-size: 1.75em;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 700;
  cursor: pointer;
  font-family: var(--caveat);
}

@media screen and (max-width: 1440px) {
  header {
    padding: 0 10%;
  }
}
