:root {
  --padding: 0 20%;

  --color1: #31263e;
  --color2: #44355b;
  --color3: #221e22;
}

.layout {
  /* background-color: #361d12; */
  background-color: #1c1c1c;
  position: relative;
}

header {
  height: 100px;
  /* background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px); */
  background: transparent;
  padding: var(--padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}

.logo {
  font-size: 1.75em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 800;
  cursor: pointer;
}

.page-content {
  /* padding: var(--padding); */
}

footer {
  height: 80px;
  /* background: #504d94; */
  background: var(--color1);
  padding: var(--padding);
  display: flex;
  font-size: 0.75em;

  color: gray;
  align-items: center;
  justify-content: space-between;
}

/* Burger */
#rect1,
#rect2,
#rect3 {
  transition: 0.2s all ease;
  transform: translateY(100%);
}

#rect2 {
  transition-delay: 100ms;
}
#rect3 {
  transition-delay: 200ms;
}
#burger {
  cursor: pointer;
}

#burger:hover #rect1,
#burger:hover #rect2,
#burger:hover #rect3 {
  transform: translateY(0);
}

.footer__logo {
  display: flex;
  width: 139px;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  background-color: palevioletred;
}

.footer__logo__word {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 800;
}

#love {
  color: palevioletred;
  cursor: pointer;
}

#place {
  color: white;
}
