
.post-preview
  width: 48%
  height: 200px
  display: flex
  cursor: pointer
  transition: all .2s 
  border-radius: 10px
  overflow: hidden

  h3
    transition: color .2s

  &:hover
    background: rgba(255,255,255,.1)

  &:hover h3
    color: rgba(255,255,255,1)

  &__illus
    width: 200px
    height: 100%
    position: relative

  &__details
    
    width: 400px
    padding: 0 20px

    &__title
      font-size: 1.25em
      color: rgba(255,255,255, .8)


    &__subtitle
      color: #c0c0c0
      margin-top: 8px
 

    .row
      display: flex
      justify-content: space-between
      align-items: center
      font-size: .75em
      margin-top: 5px


    &__language
      text-transform: uppercase
      padding: 5px
      border: 1px solid white

    &__tags
      display: flex
      flex-wrap: wrap
      font-size: .625em
      gap: 5px
      
      &__tag
        color: black
        padding: 5px 8px
        background: #eee

@media screen and (max-width: 1536px)
  .post-preview
    &__details
      &__title
        font-size: 1em
      &__subtitle
        font-size: 0.85em

@media screen and (max-width: 1400px)
  .post-preview
    width: 70%

@media screen and (max-width: 1200px)
  .post-preview
    width: 85%

@media screen and (max-width: 850px)
  .post-preview
    width: 100%